/config/.config/coc/*
/config/.config/nvim/undo/*
/config/.config/nvim/swaps/*
/config/.config/nvim/vimspector-config/*
/config/.config/nvim/plugin/*
/config/.config/himalaya/downloads/*
/bin
.netrwhist

!.gitkeep
