/wm/config/.config/ncmpcpp/lyrics
/common/config/.config/coc/*
/common/config/.config/nvim/undo/*
/common/config/.config/nvim/swaps/*
/common/config/.config/nvim/plugged/*
/common/config/.config/nvim/vimspector-config/*
/common/config/.config/himalaya/downloads/*
